
                                /*CZCIONKA*/

@font-face {
    font-family: 'existencelight';
    src: url('fonts/existence-light-webfont.eot');
    src: url('fonts/existence-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/existence-light-webfont.woff2') format('woff2'),
    url('fonts/existence-light-webfont.woff') format('woff'),
    url('fonts/existence-light-webfont.ttf') format('truetype'),
    url('fonts/existence-light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'existencestencil_light';
    src: url('fonts/existence-stencillight-webfont.eot');
    src: url('fonts/existence-stencillight-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/existence-stencillight-webfont.woff2') format('woff2'),
    url('fonts/existence-stencillight-webfont.woff') format('woff'),
    url('fonts/existence-stencillight-webfont.ttf') format('truetype'),
    url('fonts/existence-stencillight-webfont.svg#existencestencil_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'existenceunicase_light';
    src: url('fonts/existence-unicaselight-webfont.eot');
    src: url('fonts/existence-unicaselight-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/existence-unicaselight-webfont.woff2') format('woff2'),
    url('fonts/existence-unicaselight-webfont.woff') format('woff'),
    url('fonts/existence-unicaselight-webfont.ttf') format('truetype'),
    url('fonts/existence-unicaselight-webfont.svg#existenceunicase_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'existencelight', sans-serif;
}
/*strona responsywna dodaje box-sizing*/

* {
    box-sizing: border-box;
    border: 1px;
}

* {
    border-style:solid;
    border-color:red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.header {
    width: 100%;
    height: auto;
    background-image: url('images/backgroundview.jpg');
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.grid {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}


.row {
    position: relative;
}

.titleviolet {
color: darkviolet;
}
/*napisy akapit 1*/
        .lineone {
            text-align: center;
            color: whitesmoke;
            font-size: 500%;
        }
        .linetwo {
            text-align: center;
            color: whitesmoke;
            font-size: 250%;
        }
        .linethree {
            text-align: center;
            color: whitesmoke;
            font-size: 150%;
        }
/*to robi ze za tym nie rozpieprzy sie kolejny row*/

.row:before,
.row:after {
content : "";
display : table;
clear: both;
}


.services {
    margin-left:40%;
    max-width:7%;
    height: auto;
}

.portfolio {
    float:right;
   margin-right:40%;
    max-width:7%;
    height: auto;
}

.about{
    margin-left: 18%;
    max-width: 7%;
    height: auto;
}
.team{
    margin-left:3%;
    max-width:7%;
    height: auto;
}
.blog{
    float:right;
    margin-right:18%;
    max-width:7%;
    height: auto;
}


.contact{
    float:right;
    margin-right:3%;
    max-width:7%;
    height: auto;
}
 .lastsquare {

margin-left:46%;
margin-right:45%;
max-width:3%;
}

 /*akapit 2 akapit 2 akapit 2 akapit 2 szary szary szary akapit 2 whitesmoke pasek pasek whiresmoke pasek pasek*/


.breakbelt {

    width: 100%;
    height: 1px;
    background-color: whitesmoke;
    clear: both;
}


.categorylistli {

    height: 90px;
    background-color: whitesmoke;
    width: 100%;
    /*lear: both;*/
    display: inline;
    list-style-type: none
}


/*
.row {
    background-color: blue;
}

